<a href="https://colab.research.google.com/github/harsha-9977/DSA/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Even or Odd
def isEven(n):
  return n % 2 == 0

def isEven2(n):
  if(n == (n>>1) << 1):
    return True
  else:
    return False

def isEven3(n):
  if(n & 1 == 0):
    return True
  else:
    return False

n = 101
if isEven(n):
  print("true")
else:
  print("false")

if isEven2(n):
  print("true")
else:
  print("false")

if isEven3(n):
  print("true")
else:
  print("false")

false
false

In [ ]:
# Multiplication table
def printTable(n):
  for i in range(1,11):
    print(f'{n} * {i} = {n*i}')

n = 5
printTable(n)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# FindSum
def sumOfnNaturalNumbers(n):
  return n * (n+1) / 2

n = 5

print(sumOfnNaturalNumbers(n))

15.0

In [ ]:
# Square summation
def squareSum(n):
  return sum([i**2 for i in range(1,n+1)])

n = 2
squareSum(n)

5

In [ ]:
#Swap
a = 5
b = "harsha"
print(a,b)
a,b = b,a
print(a,b)

5 harsha
harsha 5

In [ ]:
# Finding Closest number to n that is divisible by m
def closestNumber(n,m):
  q = int(n / m)

  n1 = q * m

  if(n * m > 0):
    n2 = m * (q+1)
  else:
    n2 = m * (q-1)

  if(abs(n - n1) < abs(n - n2)):
    return n1
  return n2

closestNumber(13,4)

12

In [ ]:
# Dice

def dice(n):
  return 7-n

dice(5)

2

In [ ]:
# Nth term of an AP (a1 + (n-1) * (a2-a1))
def nth(a1,a2,n):
  return a1 + (n-1) * (a2-a1)

nth(2,3,4)

5

In [ ]:
# Sum of digits
def sumOfDigits(n):
  sum = 0
  while n != 0:
    last = n % 10
    sum += last
    n //= 10
  return sum

def sumOfDigits2(n):
  if n == 0:
    return 0
  return n % 10 + sumOfDigits2(n // 10)

def sumOfDigits3(s):
  sum = 0
  for i in range(len(s)):
    digit = ord(s[i]) - ord('0')
    sum += digit
  return sum

print(sumOfDigits(123))
print(sumOfDigits2(123))
print(sumOfDigits3('123'))

6
6
6

In [ ]:
# Reverse

def reverse(n):
  rev = 0
  while n != 0:
    ld = n % 10
    rev = rev * 10 + ld
    n //= 10
  return rev

def reverse2(n):
  s = str(n)

  s = list(s)
  s.reverse()
  s = ''.join(s)

  s = int(s)
  return s

print(reverse(1234))
print(reverse2(1234))

4321
4321

In [ ]:
# prime
import math
def isPrime(n):
  if n <= 0:
    return False

  for i in range(2, int(math.sqrt(n)) + 1):
    if(n % i == 0):
      return False
  return True

print(isPrime(7))
print(isPrime(9))

True
False

In [ ]:
# Logs
import math

def log(x,y):
  res = math.log(y) / math.log(x)
  return res == math.floor(res)

print(log(10,1))

True

In [ ]:
# Distance

def distance(x1,y1,x2,y2):
  return math.sqrt((math.pow(x2-x1,2) + (math.pow(y2-y1,2))))

print(distance(3,4,4,3))

1.4142135623730951

In [ ]:
# Triangle validity

def triangle(x,y,z):
  if (x+y) <= z or (x+z) <= y or (y+z) <= x:
    return False
  else:
    return True

print(triangle(7,10,5))

False

In [ ]:
# Rectangle Overlap
class Point:
  def __init__(self,x,y):
    self.x = x
    self.y = y

def overLap(l1,l2,r1,r2):
  if l1.x > r2.x or l2.x > r1.x:
    return False

  if r1.y > l2.y or r2.y > l1.y:
    return False

  return True


l1 = Point(0,10)
r1 = Point(10,0)
l2 = Point(-10,5)
r2 = Point(-1,0)

print(overLap(l1,l2,r1,r2))

False

In [ ]:
# Factorial
def fact(n):
  if(n == 0):
    return 1
  return n * fact(n-1)

print(fact(5))

120

In [ ]:
# Cubic Pairs
def pairs(n):
  count = 0

  for a in range(1,int(n ** (1/3)) + 2):
    a3 = a ** 3
    print(a3)
    b3 = n - a3
    print(b3)
    b = round(abs(b3) ** (1/3))
    print(b)

    if b > 0 and a3 + b ** 3 == n:
      count += 1
      print(f"count is --------- {count}")
  return count

print(pairs(28))

1
27
3
count is --------- 1
8
20
3
27
1
1
count is --------- 2
64
-36
3
2

In [ ]:
# LCM and HCF
def hcf(x,y):
  return math.gcd(x,y)
def lcm(x,y):
  return abs(x * y) // math.gcd(x,y)

print(f"HCF : {hcf(12,18)} , LCM : {lcm(12,18)}")

HCF : 6 , LCM : 36

In [ ]:
# Perfect number
def pn(n):
  total = 1

  i = 2
  while i * i <= n:
    if n % i == 0:
      total += i
      if(i != n // i):
        total += n // i
    i += 1
  return n == total

print(pn(28))

True

In [ ]:
# fraction addition
def add(a_n,a_d,b_n,b_d):
  lcm = a_d * b_d // math.gcd(a_d,b_d)

  aa_n = a_n * (lcm // a_d)
  bb_n = b_n * (lcm // b_d)

  total = aa_n + bb_n

  gcd = math.gcd(total,lcm)
  return total // gcd , lcm // gcd

print(add(1,3,2,5))

(11, 15)

In [ ]:
def fb(n):
  result = []

  mp = {3: "Fizz", 5: "Buzz"}
  divisors = [3,5]

  for i in range(1, n+1):
    s = ""

    for d in divisors:
      if i % d == 0:
        s += mp[d]

    if not s:
      s += str(i)

    result.append(s)

  return result

print(fb(15))

['1', '2', 'Fizz', '4', 'Buzz', 'Fizz', '7', '8', 'Fizz', 'Buzz', '11', 'Fizz', '13', '14', 'FizzBuzz']

In [ ]:
# Days Of Week
def dow(d,m,y):
  t = [0,3,2,5,0,3,1,4,6,2,4]
  y -= m<3

  return ((y + y // 4 - y // 100 + y // 400 + t[m-1] + d) % 7)

print(dow(1,6,2025))

0

In [ ]:
# Nth fibo
def fibo(n):
  if n <= 0:
    return n

  curr = 0
  prev1 = 1
  prev2 = 0

  a = [0]

  for i in range(2, n + 1):
    curr = prev1 + prev2
    a.append(curr)
    prev2 = prev1
    prev1 = curr
  print(a)
  return curr

print(fibo(6))

[0, 1, 2, 3, 5, 8]
8

In [ ]:
# Decimal to bin

print(bin(12)[2:])
print(oct(12)[2:])
print(hex(12)[2:])

1100
14
c

In [ ]:
# Armstrong
def arm(n):
  num = str(n)
  lens = len(num)
  output = sum(int(i) ** lens for i in num)

  return output == n

print(arm(1253))

False

In [ ]:
# paline
def paline(n):
  s = str(abs(n))
  l = len(s)

  for i in range(1, l // 2):
    if s[i] != s[l - i - 1]:
      return False
  return True

print(paline(12321))

True

In [ ]:
# sum of digit
def sod(n):
  if n == 0:
    return 0

  if n % 9 == 0:
     return 9

  return n % 9

print(sod(1234))

1

In [ ]:
# SquareRoot
def sr(n):
  l,r = 1,n
  while l <= r:
    mid = l + (r - l) // 2
    if mid * mid == n:
      return mid
    elif mid * mid < n:
      l = mid + 1
      ans = mid
    else:
      r = mid - 1
  return ans

print(sr(15))

3

In [ ]:
# Exactly 3 divisors
def div3(n):
  def isPrime(x):
    for i in range(2, int(math.sqrt(x)) + 1):
      if x % i == 0:
        return False
    return True

  count = []
  for i in range(2, int(math.sqrt(n)) + 1):
    if isPrime(i):
      if i * i <= n:
        count.append(i * i)

  return count

print(div3(16))

[4, 9]

In [ ]:
# Divisble by 4
def d4(n):
  s = str(n)

  last_two = int(s[-2:])

  return last_two % 4 == 0

print(d4(363588395960667043875488))

True

In [ ]:
# Divisible by 11
def d11(n):
  s = str(n)
  oddSum = 0
  evenSum = 0

  for i in range(len(s)):
    if i % 2 == 0:
      oddSum += int(s[i])
    else:
      evenSum += int(s[i])

  return (oddSum - evenSum) % 11 == 0

print(d11(1234567589333892))

True

In [ ]:
# divisible for any number
def div(n):
  rem = 0
  s = str(n)
  for i in s:
    rem = (rem * 10 + int(i)) % 13
  return rem == 0

print(div(83959092724))

True

In [ ]:
# Kth digit from the right
def km(a,b,k):
  mod = 10 ** k
  print(mod)

  d = pow(a,b,mod)
  print(d)

  s = str(d)
  print(s)
  return int(s[-k])

print(km(5,10,5))

100000
65625
65625
6

In [ ]:
# Fraction to Recurring Decimal
def ftord(a,b):
  if a == 0:
    return '0'

  result = []

  if a < 0 ^ b < 0:
    result.append("-")

  a,b = abs(a),abs(b)
  result.append(str(a // b))
  rem = a % b

  if rem == 0:
    return ''.join(result)

  result.append(".")
  rem_pos = {}

  while rem != 0:
    if rem in rem_pos:
      result.insert(rem_pos[rem], "(")
      result.append(")")
      break

    rem_pos[rem] = len(result)
    rem *= 10
    result.append(str(rem // b))
    rem %= b

  return ''.join(result)

print(ftord(1, 2))     # Output: "0.5"
print(ftord(50, 22))   # Output: "2.(27)"
print(ftord(1, 3))     # Output: "0.(3)"

0.5
2.(27)
0.(3)

In [ ]:
# Find recurring sequence
def rs(x,y):
  rem = x % y
  result = ""
  rem_pos = {}
  pos = 0

  while rem != 0:
    if rem in rem_pos:
      start = rem_pos[rem]
      return "Recurring Sq : " + result[start:]

    rem_pos[rem] = pos
    rem *= 10
    result += str(rem // y)
    rem %= y
    pos += 1

  return "No rec sq"

print(rs(50, 22))  # Output: Recurring sequence is 27
print(rs(11, 2))   # Output: No recurring sequence
print(rs(8, 3))    # Output: Recurring sequence is 6

Recurring Sq : 27
No rec sq
Recurring Sq : 6

In [ ]:
# Pascal triangle
def pt(n):
  triangle = []

  for i in range(n):
    row = [1]
    if i > 0:
      for j in range(1,i):
        row.append(triangle[i-1][j-1] + triangle[i-1][j])
      row.append(1)
    triangle.append(row)

  return triangle

for row in pt(5):
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [ ]:
# All factors

def fc(n):
  i = 1
  while i <= math.sqrt(n):
    if n % i == 0:
      if n / i == i:
        print(i, end = " ")
      else:
        print(i, int(n/i), end = " ")
    i += 1
fc(100)

1 100 2 50 4 25 5 20 10

In [ ]:
# prime factorization

def pf(n):
  while n % 2 == 0:
    print(2, end = " ")
    n //= 2

  for i in range(3, int(math.sqrt(n))+1,2):
    while n % i == 0:
      print(i, end = " ")
      n //= i

  if n>2:
    print(n, end = " ")

pf(100)

2 2 5 5

In [ ]:
# modular exponentian
def me(a,b,m):
  result = 1
  a = a % m

  while b > 0:
    if b % 2 == 1:
      result = (result * a) % m
    a = (a * a) % m
    b = b // 2

  return result
print(me(3, 200, 13))  # Output: (3^200) % 13

9

In [ ]:
# Catalan
def cat(n):
  return math.comb(2*n,n) // (n+1)
print(cat(5))

42

In [ ]:
# Power Set
def ps(s):
  result = [[]]

  for element in s:
    result += [subset +  [element] for subset in result]

  return result

print(ps([1,2,3]))

[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]